
:root{
    --backgroundColor:black;
}

.maincontainer{
    background-image: url('../../images/error404.png');
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: cover;
    min-height: 73.4vh;
    width: 100vw;
    // color: brown;
    // border: 1px solid red;
    // display: inline-block;
    // h1{
    //     color: red;
    // }
}