*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // overflow-y: scroll;
}
:root{
    --backgroundColor:black;
}

.maincontainer{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    min-height: 72.5vh;
    width: 100vw;
    display: inline-block;
    text-align: center;
    h1{
        color:var(--colorWhite);
        display: inline-block;
        text-transform: uppercase;
        margin-top: 5rem;
    }
    .registerdiv{
        margin-left: 34rem;
        margin-top: 5rem;
        background-color: var(--backLogin);
        width: 52rem;
        height: 12vw;
        border-radius: 10px;
        .identifiant{
            margin-top: 0.5rem;
        }
        input{
            background-color:var(--backgroundColor);
            color: var(--colorWhite);
            width: 12rem;
        }
        .error{
            p{
                color: red;
            }
        }
    }
}