*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // overflow-y: scroll;

}
:root{
    --backgroundColor:black;
    --colorText:blue;
    --backLogin:#BB883B;
    --colorWhite:white;
}

.maincontainer{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    min-height: 73.5vh;
    width: 100vw;
    // color: brown;
    // border: 1px solid red;
    display: inline-block;
    text-align: center;
    h1{
        color:var(--colorWhite);
        // border: 1px solid var(--colorText);
        display: inline-block;
        text-transform: uppercase;
        margin-top: 5rem;


    }
    .logindiv{
    border-radius: 10px;
        margin-left: 34rem;
        margin-top: 5rem;
        // border: 1px solid rgb(21, 255, 0);
        background-color: var(--backLogin);
        width: 52rem;
        height: 10vw;
        input{
            background-color:var(--backgroundColor);
            color: var(--colorWhite);
            width: 12rem;
        }
        .identifiant{
            // border: 1px solid red;
            margin-top: 5rem;
            display: inline-block;


        }
        .password{
            // border: 1px solid rgb(17, 255, 0);
            display: inline-block;
            margin-left: 0.5rem;

        }
        .butlink{
            margin-top: 1rem;
            // border: 1px solid rgb(33, 219, 200);
            // display: inline-block;
            justify-content: space-around;
            .btpass{
                color: red;

            }

        }
    }
}