:root{
    --colorBackground:#BB883B;
    --colorBackgroundProfil:rgba(108, 108, 104, 0.6);
    --colorBlack:black;
    --colorwhite: white;
}
.container{
    background-image: url('../../images/cinema.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    list-style: none;
    .logo{
        height: 8.1rem;
        width: 7rem;
        background-image: url('../../images/AMECINE\(1\).png');
        background-size: contain;
        background-repeat: repeat;
    }
    .naviBar{
        margin-top: 6.5rem;
        text-decoration: none;
        width: 78vw;
        ul{
            text-align: center;
            display: flex;
            color: aqua;
            list-style: none;

            li{
                width: 80vh;
                text-decoration: none;
                button{
                    width: 100%;
                    color: rgb(3, 0, 0);
                    text-transform: uppercase;
                    border-radius: 10px;
                }
                :hover{
                    button{
                        color:var(--colorwhite);
                        background-color: var(--colorBackground);
                    }
                }
            }
        }
        .adminBtm{
            li{
                width: 30vh;
                text-decoration: none;
                button{
                    width: 100%;
                    color: rgb(3, 0, 0);
                    text-transform: uppercase;
                    border-radius: 10px;
                }
                :hover{
                    button{
                        color:var(--colorwhite);
                        background-color: var(--colorBackground);
                    }
                }
            }
        }
       
    }
    .profilContainer{
        height: 8vh;
        width: 15vw;
        margin-top: 1rem;
        .avatar{
            width: 3vw;
            height: 6vh;
            img{
                width: 6vw;
                height: 12vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        span{
            margin-left: 0.1rem;
            width: 10vw;
        }
    }
}