:root{
    --colorBackground:rgba(255, 218, 7, 0.6);
    --colorBackgroundProfil:rgba(108, 108, 104, 0.6);
    --colorBlack:black;
    --colorwhite: white;
}

.container{
    
    background-image: url('../../images/cinema.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    .logo{
        // border: 1px solid red;
        height: 8.1rem;
        width: 7rem;
        background-image: url('../../images/AMECINE\(1\).png');
        background-size: contain;
        background-repeat: repeat;
        // border: 1px solid red;

    }
    .naviBar{
        margin-top: 6.5rem;
        text-decoration: none;
        width: 85vw;
        ul{
            text-align: center;
            display: flex;
            color: aqua;
            list-style: none;
            li{
                width: 80vh;
                text-decoration: none;
                border: 1px solid rgb(255, 0, 0);
                a{
                    width: 10rem;
                    color: rgb(3, 0, 0);
                    text-decoration: none;
                    text-transform: uppercase;
                    // border: 1px solid rgb(0, 255, 13);
                }
            :hover{
                color:var(--colorwhite);
                background-color: var(--colorBackground);
                }
            }
        }

    }
    .profilContainer{
        background-color: var(--colorBackgroundProfil);
        height: 8.1rem;
        width: 11rem;
        text-decoration: none;
        .button{
            button{
                // background-color: var(--colorBlack);
                // border: 1px solid red;
                color: rgb(255, 255, 255);
                // text-transform: none;
                text-transform: uppercase;
                    text-decoration: none;


                link{
                    color: rgb(8, 6, 6);

                }
                input{
                    color: rgb(255, 30, 0);
                    // border: 1px solid rgb(21, 255, 0);

                }
                :hover{
                    background-color: var(--colorBackground);
                    color:var(--colorwhite);
                }

            }
        }
    }
}